@model MVC_Estudent_Entity.Models.ModelView.Entidad_Estudiantes_ModelView
@{
    ViewBag.Title = "Gestionar Estudiantes";
}
    <h2>@ViewBag.Title</h2>

    <container>
        @using (Html.BeginForm("Save", "Estudiante", FormMethod.Post))
        {
            @Html.HiddenFor(x => x.Id_estudiantes)
        <div class="row">
            <div class="form-group">
                @Html.LabelFor(d => d.Matricula)
                @Html.TextBoxFor(d => d.Matricula, new { @class = "form-control" })
            </div>
            <div class="form-group">
                @Html.LabelFor(d => d.Nombre)
                @Html.TextBoxFor(d => d.Nombre, new { @class = "form-control" })
            </div>
            <div class="form-group">
                @Html.LabelFor(d => d.Edad)
                @Html.TextBoxFor(d => d.Edad, new { @class = "form-control" })
            </div>
            <div class="form-group">
                @Html.LabelFor(d => d.Fecha_nacimiento)
                @Html.EditorFor(d => d.Fecha_nacimiento, new { @class = "form-control" })
            </div>

            @if (Model != null)
            {
                if (Model.Id_estudiantes > 0)
                {
                    <div class="form-group">
                        @Html.LabelFor(d => d.Materia_Id)
                        @Html.DropDownListFor(d => d.Materia_Id, ViewBag.MateriaList as SelectList)
                    </div>
                }
            }
            else
            {
                @Html.HiddenFor(d => d.Materia_Id)
            }







            <input value="Guardar" type="submit" class="btn btn-primary">

        </div>

                }

            </container>

